{% extends "base.html" %}

{% block main %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
        <div>
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div>
          <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
  <h2>Iniciar Sesión</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Iniciar Sesión</button>
  </form>
  <p>¿Todavía no estás registrado? Regístrate <a href="/signup">aquí</a></p>
{% endblock %}