{% extends 'base.html' %}
{% block title%}Home{% endblock %}
{% block main %}
<nav>
    <a href="/logout">Logout</a>
</nav>
{% for product in products %}
    <div>
        <p>{{ product.id }}</p>
        <p>{{ product.name }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.price }}€</p>
        <div>
            <button onclick="removeProductFromCart(this)">-1</button>
            <button onclick="addProductToCart(this)">+1</button>
        </div>
    </div>
{% endfor %}
{% endblock %}
{% load static %}
{% block scripts %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}